---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Willkommen beim DRK Fluorn-Winzeln">
	<h1 class="text-4xl font-bold text-red-700 mb-4">
		Herzlich Willkommen beim DRK Fluorn-Winzeln!
	</h1>
	<p class="text-lg">
		Schön, dass Sie da sind. Hier finden Sie alle Informationen über unseren Ortsverein, 
        aktuelle Termine und Neuigkeiten aus unserer Arbeit in und für Fluorn-Winzeln.
	</p>
</Layout>